body {
    font-family:'Courier New', Courier, monospace ;
    background-color: rgb(251, 179, 255);
}

.page-title,
.home-link {
    text-align: center;
    font-weight: 900;
    background-color:rgb(117, 233, 225);
    color: rgb(0, 0, 0);
}

.header {
    background-color: rgba(151, 220, 151, 0.575);
}

.pasta {
    text-align: left;
    color: red;
}

.breakfast {
    text-align: center;
    color: yellow;
}

.dessert {
    text-align: right;
    color: chocolate;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 300px;
}

li {
    font-family: Courier, monospace;
}